{
    "env": {
        "development": {
            "presets": ["next/babel"],
            "plugins": [
                ["styled-components", { "ssr": true }],
                "import-graphql"
            ]
        },
        "production": {
            "presets": ["next/babel"],
            "plugins": [
                ["styled-components", { "ssr": true }],
                "import-graphql"
            ]
        },
        "test": {
            "presets": [
                ["next/babel", { "preset-env": { "modules": "commonjs" } }]
            ],
            "plugins": [
                ["styled-components", { "ssr": true }],
                "import-graphql"
            ]
        }
    }
}
